@charset 'UTF-8';
.inp:hover, .eml:hover, .srch:hover, .rns:hover, .rps:hover{
	background-image: url(resources/images/bg/by.gif);
	background-size: 100%;
	background-repeat: no-repeat;
}

.inp:focus, .eml:focus, .srch:focus{
	background-image: url(resources/images/bg/by.gif);
	background-size: 100%;
	background-repeat: no-repeat;
	color: #3299BB;
	opacity: 1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.sh:hover{
	box-shadow: 1px 1px 1px #aaaaaa;
}

.cls:hover{
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
.s0{
	height: 5em ;
	width: 5em ;
	border: 0.1em solid #ffffff;
}
.s0:hover{
	border: 0.1em solid #3299BB;
}
.eAb, .eBy, .eSel, .ePtr{
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}
.eBy:hover{
	background-image: url(resources/images/bg/by.gif);
}

.eAb:hover{
	background-color: #3299BB;
}

.eSel:active{
	background-image: url(images/bg/sel.gif);
}

.lt:hover{
  opacity:1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
.eNb:hover{
	border: 0.1em solid #3299BB;
}

.transition{
	transition-property: opacity;
	-webkit-transition-property: filter;
	transition-duration: 2s;
	-webkit-transition-duration: 2s;	
}

.transition:hover{
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.ft{
  opacity:0;
  filter:alpha(opacity=0); /* For IE8 and earlier */
}

canvas:hover{
	box-shadow: 5px 5px 5px #888888;
}


.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
  background: url(images/progress/jq-fileuploader-progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  float: right;
  width: 32px;
  height: 32px;
  background: url(images/progress/jq-fileuploader-loading.gif) center no-repeat;
  background-size: contain;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}
.files audio,
.files video {
  max-width: 300px;
}



.fileinput-button {
  position: relative;
 
}
.fileinput-button {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  /*transform: translate(-300px, 0) scale(4);*/
  direction: ltr;
  cursor: pointer;
  border: 1px solid;
}

button.enabled{
	background-color: #ffffff;
}

button.disabled{
	background-color: #3299BB;
}

